* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

body {
    background: #f8f9fb;
    color: #333;
    line-height: 1.6;
}

/* Header */
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: #003366;
    color: white;
    padding: 15px 40px;
    position: sticky;
    top: 0;
    z-index: 10;
}

header .logo {
    font-size: 1.5em;
    font-weight: 600;
    color: white;
    text-decoration: none;
}

nav a {
    color: white;
    margin-left: 20px;
    text-decoration: none;
    transition: 0.2s;
}

nav a:hover,
nav a.active {
    color: #ffcc00;
}

footer {
    background: #0a4d8c;
    color: white;
    padding: 30px 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    text-align: center;
}

footer .left {
    font-size: 14px;
}

footer .right a {
    color: #ffb400;
    text-decoration: none;
    margin: 0 10px;
    transition: 0.3s;
}

footer .right a:hover {
    color: white;
}