
.title {
    text-align: center;
    color: #b10000;
    margin-bottom: 20px;
}

.search-container {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
}

#searchInput {
    width: 60%;
    padding: 10px 15px;
    font-size: 16px;
    border-radius: 8px;
    border: 1px solid #ccc;
    outline: none;
    transition: all 0.3s;
}

#searchInput:focus {
    border-color: #b10000;
    box-shadow: 0 0 5px rgba(177, 0, 0, 0.4);
}

table {
    width: 100%;
    border-collapse: collapse;
    background-color: white;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
}

th, td {
    border: 1px solid #ccc;
    padding: 10px;
    text-align: center;
}

th {
    background-color: #e6f3ff;
}

.highlight {
    background-color: #cce5ff;
    font-weight: bold;
    text-align: left;
}

tbody tr:hover {
    background-color: #fff3cd;
    transition: 0.2s;
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

body {
    background: #f8f9fb;
    color: #333;
    line-height: 1.6;
}

/* Header */
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: #003366;
    color: white;
    padding: 15px 40px;
    position: sticky;
    top: 0;
    z-index: 10;
}

header .logo {
    font-size: 1.5em;
    font-weight: 600;
    color: white;
    text-decoration: none;
}

nav a {
    color: white;
    margin-left: 20px;
    text-decoration: none;
    transition: 0.2s;
}

nav a:hover{
    color: #ffcc00;
}

footer {
    background: #0a4d8c;
    color: white;
    padding: 30px 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    text-align: center;
}

footer .left {
    font-size: 14px;
}

footer .right a {
    color: #ffb400;
    text-decoration: none;
    margin: 0 10px;
    transition: 0.3s;
}

footer .right a:hover {
    color: white;
}