* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

body {
    background: #f8f9fb;
    color: #333;
    line-height: 1.6;
}

/* HEADER */
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: #003366;
    color: white;
    padding: 15px 40px;
    position: sticky;
    top: 0;
    z-index: 10;
}
header .logo {font-size: 1.5em;font-weight: 600;color: white;text-decoration: none;}
nav a {color:white;margin-left:20px;text-decoration:none;transition:0.2s;}
nav a:hover {color:#ffcc00;}

/* FOOTER */
footer {
    background: #0a4d8c;
    color: white;
    padding: 30px 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}
footer .right a {color:#ffb400;margin:0 10px;text-decoration:none;}
footer .right a:hover {color:white;}

/* WRAPPER FIX FOOTER */
html, body {height: 100%;}
.wrapper {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}
main {flex: 1;display:flex;justify-content:center;align-items:center;}

/* AUTH BOX */
.auth-box {
    background: white;
    width: 420px;
    padding: 28px;
    border-radius: 14px;
    box-shadow: 0 4px 12px rgba(0,0,0,0.1);
}

.tabs {
    display: flex;
    justify-content: space-between;
    margin-bottom: 15px;
}

.tabs button {
    flex: 1;
    padding: 12px;
    border: none;
    background: #e6eef9;
    cursor: pointer;
    font-weight: 600;
    transition: 0.2s;
}

.tabs button.active {
    background: #0a4d8c;
    color: white;
}

.form {
    display: none;
    flex-direction: column;
}
.form.show {
    display: flex;
}
.form h2 {
    margin-bottom: 14px;
    text-align: center;
}
.form input {
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 8px;
    margin-bottom: 12px;
}

.btn.primary {
    background: #0a4d8c;
    color: white;
    padding: 12px;
    border-radius: 8px;
    cursor: pointer;
    border: none;
    margin-top: 8px;
}

.switch {
    text-align: center;
    margin-top: 10px;
    font-size: 14px;
}
.switch span {
    color: #0a4d8c;
    cursor: pointer;
    font-weight: 600;
}
