* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

body {
    background: linear-gradient(to bottom right, #004e92, #000428);
    color: white;
    line-height: 1.6;
}

/* Header */
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: #003366;
    color: white;
    padding: 15px 40px;
    position: sticky;
    top: 0;
    z-index: 10;
}

header .logo {
    font-size: 1.5em;
    font-weight: 600;
    color: white;
    text-decoration: none;
}

nav a {
    color: white;
    margin-left: 20px;
    text-decoration: none;
    transition: 0.2s;
}

nav a:hover{
    color: #ffcc00;
}
.hero {
    text-align: center;
    padding: 60px 20px;
}
.hero h2 {
    font-size: 32px;
    margin-bottom: 10px;
}
.hero p {
    color: #ccc;
}
.form-container {
    max-width: 600px;
    margin: 30px auto;
    background: rgba(255, 255, 255, 0.1);
    padding: 20px;
    border-radius: 10px;
}
label {
    display: block;
    margin-bottom: 5px;
}
input, select {
    width: 100%;
    padding: 10px;
    border-radius: 5px;
    border: none;
    margin-bottom: 15px;
}
button {
    background: #06b6d4;
    color: white;
    padding: 10px 15px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}
button:hover {
    background: #0891b2;
}
footer {
    background: #0a4d8c;
    color: white;
    padding: 30px 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    text-align: center;
}

footer .left {
    font-size: 14px;
}

footer .right a {
    color: #ffb400;
    text-decoration: none;
    margin: 0 10px;
    transition: 0.3s;
}

footer .right a:hover {
    color: white;
}